body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container-ele{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 1px;
  background-color:rgb(39, 37, 37);
  padding: 2px;
}
.text-white{
  color:white;
  font-weight: bold;
}

.white-font-clock{

  color:white;
  font-size:larger;
  font-weight: bold;
}
.logo-police{
  alt:initial;
  height: 5vmax;
  width: 5vmax;
  filter: blur(4px);

}
.logo-disartech{
  alt:initial;
  height: 5.5vmax;
  width: 9vmax;
  filter: blur(4px);

}
.rcorner-cartelera{

  border-radius: 15px 15px 5px 5px;
  background: #73AD21; 
  padding: 20px;

}
.grid-container-ele>div{

  
  text-align: center;
  padding:5px 0;

}
.item0 {

  max-height:10vh;
  background:rgb(176, 179,184,0.6);

   grid-area: 1 / 2 /1 / 4;
 }
 .item9 {
   border-radius: 15px 0px 0px 15px; 
  font-size: 15px;
  max-height:5vh;
  background:rgb(176, 179,184,0.6);
  
   grid-area: 1 / 1 /1 / 2;
   max-height:10vh;
 }
 .item10 {
   border-radius: 0px 15px 15px 0px;
  font-size: 15px;
  max-height:5vh;
  background:rgb(176, 179,184,0.6);
 
   grid-area: 1 / 4 /1 / 4;
   max-height:10vh;
 }
.item1 {
  border-radius: 50px 50px 50px 50px;
  align-items: center;
  grid-area: 2 /1 /5 / 5;
  min-width: 76vw;
  max-width: 76vw;
  max-height: 75vh;
  min-height: 75vh;
}


.item2{
  grid-area: 1 /5 /1 / 7;
  font-size: large;
}
.item3 {
  border-radius: 5px 5px 15px 15px;
  background:rgba(255, 255, 255, 0.9);
  grid-area: 2 /5 /5 / 7;
  min-width: 30vh;
  max-width: 50vh;
  
}

.item6{
  min-height: 15vh;
  grid-area:5/1/6/3;
}
.item7{
  min-height: 15vh;
  grid-area:5/3/6/5;
}
.item8{
 
  grid-area:5/5/5/7;
  
}
.divalert{
 
  background: rgb(255, 0,0,0.7);
  
  }
  .texttitlealert{

    color:white;
    font-weight: bold;
    font-size:xx-large;
    background: rgba(0, 0, 0, 0.644);
  }
  .textbodyalert{
    color:black;
    font-weight: bolder;
    font-size: large;
  }
  .blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  .map-container {
    border-radius: 5px 5px 30px 30px;
    min-width: 79vw;
    min-height: 75.5vh;
    max-width: 79vw;
    max-height: 75.5hv;
    }